*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 400;
    
    
}

:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #00A7EF;
    --cor-tercearia: #EAEAEA;
    --cor-fundo-paragrafos: #DFDFDF;

}

body{

    padding: 1.75rem 0rem;
}

.header-mobile{

    display: flex;
    margin-top: 20px;
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #ffffff
    
    
} 
.header-mobile img {
    border: none;
    background: none;
    width: 5rem;
    height: auto;
    display: block;
    margin-left: 15px;

}

.header-mobile button{
    border: none;
    background: none;
    width: 64px;
    height:  40px;
    color: #00A7EF;
    display: flex;

}

.iconify{
    height: 40px;
    width: 64px;
    
}
/*Aqui finaliza o Header */

.foto-principal img{
    max-width: 100%;
    height: 45rem;
    display: flex;
    

}

.container1 {
    margin-left: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 441px;
    position: relative;
    
    
}

.container1 h1{

    color: #00A7EF;
    position: absolute;
    left: 50px;
    z-index: 10;
    display: flex;
    width: 273px;
    height: 43px;
    font-size: 30px;
    

}

.casasBH {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 85px;
    left: 20px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
    
    
}

.casasBH img{
    width: 91px;
    height: 68px;
    display: flex;
    justify-content: center;
    text-align:center
    
}

.cruzeiro {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 85px;
    left: 195px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.cruzeiro img{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    object-fit: contain;


}

.ipanema {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 250px;
    left: 20px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.ipanema img{
    width: 120px;
    height: 30px;
    border: none;
    background: none;
    object-fit: contain;

}

.claro {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 250px;
    left: 195px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.claro img{
    display: flex;
    width: 83px;
    height: 34px;
    border: none;
    background: none;
    object-fit: contain;

}

/* aqui finaliza o primeiro container
   Iniciando segundo container */

   .container2{
    max-width: 100%;
    height: 1138;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    

   }
    

   .container2 h1{
    position: absolute;
    left: 115px;
    z-index: 10;
    color: #00A7EF;
    display: flex; 
    width: 273px;
    height: 43px;
    font-size: 30px;

   }

   .fotosobre{
    width: 375px;
    max-height: 100%;
    margin-top: 100px;

   }
   .paragrafos{
    background-color:#DFDFDF;
   }


   .paragrafo-1{

    text-align: justify;
    font-size: 14;
    padding: 30px;
    background-color: #EAEAEA;
   }





