*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 400;
    
    
}

:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #00A7EF;
    --cor-tercearia: #EAEAEA;
    --cor-fundo-paragrafos: #DFDFDF;

}

body{

    
}


.header-mobile {
    display: flex;
    width: 100%;
    top: 0;
    left: 0; 
    align-items: center;
    justify-content: space-between;
    
    background-color: #ffffff;
    height: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999; 
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 990;
}

.overlay.show {
    display: block;
}
.header-mobile img {
    display: flex;
    border: none;
    background: none;
    width: 5rem;
    height: auto;
    display: block;
    margin-left: 15px;
    margin-top: 0;
    

}

#inicio{
    display: none;
}
#trabalhe{
    display: none;
}


#botaomenu{
    border: none;
    background: none;
    width: 35px;
    height:  30px;
    color: #00A7EF;
    display: flex;
    margin-right: 5%;

}

.iconify{
    height: 40px;
    width: 64px;
    color: #00A7EF;
    display: flex;
    
    
}





.header-mobile nav{
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 0;
    width: 70%;
    height: 115vh;
    transition: left 0.3s ease;


}

.header-mobile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-mobile ul li {
    text-align: center;
    padding: 15px;
}
.header-mobile ul li a {
    text-decoration: none;
    color: #00A7EF;
    font-size: 18px;
    display: block;
}

.header-mobile ul li a:hover {
    background-color: #575757;
}

nav.show {
    display: block;
}

button.active .iconify {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}



/*Aqui finaliza o Header */

.foto-principal img{
    max-width: 100%;
    height: 40rem;
    display: flex;
   
    

}

.container1 {
    margin-left: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 441px;
    position: relative;
    text-align: center;
    
    
}

.container1 h1{

    color: #00a7ef;
    position: absolute;
    left: 60px;
    z-index: 10;
    display: flex;
    width: 273px;
    height: 43px;
    font-size: 30px;
    font-weight: bold;
    

}

.casasBH {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 85px;
    left: 20px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
    
    
}

.casasBH img{
    width: 91px;
    height: 68px;
    display: flex;
    justify-content: center;
    text-align:center
    
}

.cruzeiro {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 85px;
    left: 195px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.cruzeiro img{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    object-fit: contain;


}

.ipanema {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 250px;
    left: 20px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.ipanema img{
    width: 120px;
    height: 30px;
    border: none;
    background: none;
    object-fit: contain;

}

.claro {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 250px;
    left: 195px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.claro img{
    display: flex;
    width: 83px;
    height: 34px;
    border: none;
    background: none;
    object-fit: contain;

}

/* aqui finaliza o primeiro container
   Iniciando segundo container */
   .H1sobre{

    margin-left: 32%;
    font-weight: 500;
    
    font-size: 30px;
    color: #00A7EF;
    
   

}


   .container2{
    display: flex;
    max-width: 100%;
    height: 1138;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    

   }


   

   

   .fotosobre{
    width: 375px;
    max-height: 100%;
    margin-top: 60px;
    display: flex;

   }

   .paragrafos{
    background-color:#EAEAEA;
    flex-direction: column;
    
   }


   .paragrafo-1{

    text-align: justify;
    font-size: 14px;
    padding: 35px;
    background-color: #EAEAEA;
    
   }

   .imgs-sobre{
    display: flex;
    gap: 20px; 
    height: 100px;
    margin-left: 28px;
    
   }

   
   
   .paragrafo-2{
    
    margin-top: 5px;
    text-align: justify;
    font-size: 14px;
    padding: 35px;
    background-color: #EAEAEA;
   }


   /*CONTAINER2 (SOBRE NÓS, FINALIZA AQUI) */
   /*Iniciando container 3 estatisticas aqui*/

   .container3 {
    max-width: 100%;
    height: 367px;
    background-color: #ffffff;
   
   }

   /*CONTAINER3 FINALIZA AQUI*/
   /*INICIANDO CONTAINER4 (trabalhe conosco*/

   .container4 {


    height: 465px;
    max-width: 100%;
    background-color: #EAEAEA;
    flex-direction: column;
    position: relative;
    
   }

   .container4 h1{
    font-size: 30px;
    color: #00A7EF;
    padding: 25px;
    display: flex;
    font-weight: 400;
   
    
    
    
   }

   .container4 p{

    font-size: 14px;
    text-align: justify;
    margin-left: 25px;
    color: black;
    font-weight: bold;
   }

   .container4 img{
    display: flex;
    border-radius: 11px;
    width: 190px;
    height: 147px;
    position: absolute;
    right: 30px;
    top: 220px;
    
   }

   .container4 button{
    display: flex;
    position: absolute;
    margin-left: 20px;
    top: 400px;
    background-color: #ffffff;
    border-color: #00A7EF;
    border-radius: 20px;
    color: #00A7EF;
    font-size: 14px;
    width: 153px;
    height: 35px;
    text-align: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
   }

   .container4 button:hover{
    background-color: #00A7EF;
    color: #ffffff;
    border: none;
    
    
   }

   .container4 a{
    text-decoration: none;
    color: #00A7EF;
    display: block;
   }

   .container4 a:hover{
    color: #ffffff;

   }

/*CONTAINER4 FINALIZA AQUI*/
   /*INICIANDO CONTAINER5 (fale conosco*/

   .container5{
    
    position: relative;
    width: 100%;
    height: 480px;
    background-color: #ffffff;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;

   }
   
   

   .container5 h1{
    display: flex;
    font-size: 30px;
    padding: 30px;
    color: #00A7EF;
    margin-left: 75px;
    font-weight: 500;
   }

   .container5 img{
    width: 157px;
    height: 162px;
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
   }

   .container5 form{
    position: absolute;
    top: 105px;
    width: 146px;
    background-color: #ffffff;
    margin-left: 200px;
    
   }
   .container5 label{
    font-size: 14px;
    margin-bottom: 8px;
   }

   .container5 input, .container5 textarea{
    width: 150px;
    border: 2px solid #00A7EF;
    margin-bottom: 8px;
    
    
   }

   .container5 button{
    background-color: #00A7EF;
    color: #ffffff;
    border-radius: 14px;
    width: 145px;
    height: 35px;
    border: 2px solid #00A7EF;
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
   }

   .container5 button:hover{
    background-color: #ffffff;
    color: #00A7EF;
    
   }
   .circulo1{
    position: absolute;
    width: 50px;
    height: 46px;
    border-radius: 50%;
    background-color: #00A7EF;
    top: -9px;
    left: 338px;

   }

   .circulo2{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00A7EF;
    top: 340px;
    left: 50px;

   }

   .circulo3{
    position: absolute;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: #00A7EF;
    top: 377px;
    left: 80px;
    
   }

   /*CONTAINER5 FINALIZA AQUI*/
   /*INICIANDO container rodapé*/
   
   .container6{
    display: flex;
    
    max-width: 100%;
    background-color: rgb(69 69 69);
    height: 90vh;
    
    

   }

   .container6 footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    



   }

   .container6 img{
    width: 130px;
    height: 60px;
    margin-top: 10%;
   
    margin-left: 33%;
    
    
   }
   .containerlinks{
    display: flex;
    margin-top: 15%;
    margin-bottom: 10%;
    
    gap: 5px;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    }
    
    .iconify.face{
        color: #ffffff;

    }

    .iconify.instagram{
        color: #ffffff;

    }

    .iconify.linkedin{
        color: #ffffff;
    }

    

    .contatos{
        align-items: center;
        flex-direction: column;
        text-align: justify;
        display: flex;
    
        
       
    }

    .contatos h2{

        font-size: 12px;
        text-align: center;
        margin: 11px;
        font-weight: bold;
        color: #ffffff;

        
        
    }

    .contatos p{

        font-size: 13px;
        
        margin-top: 3%;
        color: #ffffff;
    }


    .navegacao{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
       
        list-style-type: none;
      

    }

    

    .navegacao h2{
        font-size: 12px;
        text-align: center;
        margin: 11px;
        font-weight: bold;
        
        top: 50%;
        color: #ffffff;

    }

    .navegacao h3{
        font-size: 13px;
        color: #ffffff;
        
    }

    .navegacao p{
        font-size: 13px;
        margin-top: px;
        color: #ffffff;

    }

    .navegacao a{

        text-decoration: none;
        color: #ffffff;
        font-size: 13px;
    }
   .termos{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #ffffff;
    
        

   }

   .termos p{
        font-size: 13px;
        
       
        
   }

@media (min-width: 750px) {

    .containerbotao{
        display: flex;
        gap: 10%;
        margin-right: 5%;
    }
    
    #inicio, #trabalhe{
        display: block;
        background-color: #ffffff;
        border-color: #00A7EF;
        border-radius: 15px;
        color: #00A7EF;
        font-size: 13px;
        width: 20vh;
        height: 4vh;
        text-align: center;
        cursor: pointer;

    }


    #inicio a, #trabalhe a{

        text-decoration: none;
        color: #575757;
        font-weight: bold;
        display: block;
        
    }

    #inicio:hover, #trabalhe:hover{
        background-color: #00A7EF;
        border: none;
        display: block;
    }

    #inicio a:hover, #trabalhe a:hover{
        color: #ffffff;
        display: block;
    }

   
    #botaomenu{
        display: none;
    }


    .iconify{
        color: #ffffff;
        width: 85%;
      
    }

    .container6{
        all: unset;
        display: flex;
        

        max-width: 100%;
        background-color: rgb(69 69 69);
        height: 40vh;
        position: relative;
        
        
    
       }
    
       .container6 footer{
        all: unset;
        display: flex;
        width: 100%;
        height: 20vh;
        gap: 10%;
        margin-top: 3%;
        
    
    
    
       }


    
       .container6 img{
        all: unset;
        width: 130px;
        height: 60px;
        margin-left: 4%;
        
       
        
        
        
       }
       .containerlinks{
        all: unset;
        display: flex;
        margin-top: 10%;
        margin-left: 4%;
        position: absolute;
        gap: 10px;

        
        
        
        }
    
        
    
        .contatos{
            align-items: center;
            flex-direction: column;
            text-align: justify;
            display: flex;
            margin-left: 10%;
        
            
           
        }


        .contatos h2{

            font-size: 1.5vh;
            color: #ffffff;
            
        }
    
        .contatos p{
    
            font-size: 1.2vh;
            color: #ffffff;
            
            margin-top: 3%;
        }
    
        
    
        .navegacao h2{
            font-size: 1.5vh;
            color: #ffffff;
            
    
        }
    
        .navegacao h3{
            font-size: 13px;
            
        }
    
        .navegacao p{
            font-size: 1.2vh;
            color: #ffffff;
            
            margin-top: 3%;
    
        }

        .navegacao a{

            text-decoration: none;
            color: #ffffff;
            font-size: 1.5vh;
        }
       .termos{
            display: flex;
            flex-direction: column;
            text-align: center;
        
            
    
       }
    
       .termos p{
            font-size: 1.2vh;
            color: #ffffff;
            margin-top: 9%;
            
           
            
       }
    
    
    .header-mobile img{
        margin-left: 80px;
        
        top: 15px;
        
    }

    .foto-principal{
        max-width: 100%;
        height: 40rem;
        display: flex;
       

    }
    .container1{
        display: flex;
        gap: 10px;
        position: relative;
        text-align: center;
        height: 600px;
        padding: 10px;
        
        
   }
   .container1 h1{
    margin-left:28%;
    margin-top: 4%;
    font-size: 35px;
    width: 543px;
    height: 78px;
    font-weight: bold;
    

   }
   
   .casasBH { 
    position: absolute;
    top: 250px;
    left: 7.5%;
    width: 170px;
    height: 170px;
    cursor: pointer;
    
    
        
    }

    .casasBH img{
        object-fit: contain;

        width: 75%;
        height: auto;
        
        
    }

    .cruzeiro {
     
        top: 250px;
        left: 28.5%;
        width: 170px;
        height: 170px;
        cursor: pointer;
      
    
    }

    .cruzeiro img{
        object-fit: contain;

        width: 75%;
        height: auto;

    


    }

    .ipanema {
        position: absolute;
        top: 250px;
        left: 51%;
        width: 170px;
        height: 170px;
        display: flex;
        cursor: pointer;
    
    
        
    }

    .ipanema img{
        object-fit: contain;

        width: 75%;
        height: auto;

    

    }

    .claro {
    
        position: absolute;
        top: 250px;
        left: 74%;
        width: 170px;
        height: 170px;
        cursor: pointer;
    
    }

    .claro img{
        
        object-fit: contain;

        width: 75%;
        height: auto;

    

    }

    .H1sobre{

        margin-left: 40%;
        
        font-size: 35px;
        color: #00A7EF;
        font-weight: bold;
        
       

    }

    .container2 {
        display: flex;
        width: 100%;
        height: 1400px;
        background-color: #EAEAEA;
        margin-top: 12%;
        
    }
   

    

    .fotosobre{
        display: block;
        width: 100%;
        height: 450px;
        margin-top: 0;
        
        
    
       }

       .paragrafos {
        display: flex;          
        flex-direction: column;  
        gap: 10px;   
        position: relative;            
        
       }

       .imgs-sobre{
        background-color: #EAEAEA;
       
       }

       .paragrafo-1 {
        font-size: 16px;
        line-height: 1.6;
        text-align: justify;
        width: 45%;
        margin-left: 4%;
        margin-top: 7%;
    
       }

       

       .paragrafo-2 {
        font-size: 16px;
        line-height: 1.6;
        text-align: justify; 
        width: 45%;
        top: 100%;
        left: 50%;
        position: absolute;
      }

      
      .imgs1{
                 
        position: absolute;
        object-fit: cover;      
        width: 25%;
        height: 50%;
        top:  30%;
        left: 60%;
        background-color: #EAEAEA;
      }

      .imgs2{

        position: absolute;
        object-fit: cover;      
        width: 25%;
        height: 50%;
        top: 90%;
        left: 14%;
        background-color: #EAEAEA;


      }


      .container4{
        width: 100%;
        height: 600px;
      }

      .container4 h1{
        font-size: 45px;
        margin-left: 8%;
        padding-top:  10%;
      
      }

      .container4 p{

        font-size: 16px;
        margin-left: 10% ;
        text-align: justify;
        margin-top: 1%;

      }

      .container4 img{

        object-fit: cover;      
        width: 45%;
        height: 50%;
        
        top: 25%;
        left: 46%;
        border-radius: 35px;


      }

      .container4 button{
        margin-left: 10%;
        margin-top: 3.5%;
        width: 20%;
        height: 7%;
        font-size: 100%;
        
      }

      .container5{

        width: 100%;
        height: 700px;
        text-align: center;


      }

      .container5 h1{
        font-size: 35px;
        margin-left: 35%;
        margin-top: 2%;
        font-weight: bold;
        
      }

      .circulo1{

        left: 96%;
        height: 10%;
        width: 8%;
        top: -4%;
      }

      .circulo2{
        height: 14%;
        width: 9%;
        left: 15%;
        top: 75%;
      }

      .circulo3{
        height: 10%;
        width: 6%;
        left: 12%;
        top: 68%;
      
      }

      .container5 img{
        

        
        margin-right: 40%;
        margin-top: 10%;
        width: 22%;
        height: 32%;
        object-fit: cover;    
      }

      .container5 form{
        left: 35%;
        top: 24.5%;
        text-align: justify;
      }

      

      .container5 label{
        font-size: 120%;
        margin-bottom: 15px;
        
        
       }
    
       .container5 input, .container5 textarea{
        width: 250px;
        height: 40px;
        border: 1.5px solid #00A7EF;
        margin-bottom: 8px;
        
        
       }
    
       .container5 button{
    
        width: 120%;
        height: 40px;
        border: 2px solid #00A7EF;
        margin-top: 30%;
        font-size: 100%;
        margin-left: 30%;
        
        
       }

      

    }
    
        

     
    
    



      


    

   









  






