*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 400;
    
    
}

:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #00A7EF;
    --cor-tercearia: #EAEAEA;
    --cor-fundo-paragrafos: #DFDFDF;

}

body{

    padding: 1.75rem 0rem;
}

.header-mobile{

    display: flex;
    margin-top: 20px;
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #ffffff
    
    
} 
.header-mobile img {
    border: none;
    background: none;
    width: 5rem;
    height: auto;
    display: block;
    margin-left: 15px;

}

.header-mobile button{
    border: none;
    background: none;
    width: 64px;
    height:  40px;
    color: #00A7EF;
    display: flex;

}

.iconify{
    height: 40px;
    width: 64px;
    color: #00A7EF;
    
    
}
/*Aqui finaliza o Header */

.foto-principal img{
    max-width: 100%;
    height: 45rem;
    display: flex;
    

}

.container1 {
    margin-left: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 441px;
    position: relative;
    
    
}

.container1 h1{

    color: #00a7ef;
    position: absolute;
    left: 50px;
    z-index: 10;
    display: flex;
    width: 273px;
    height: 43px;
    font-size: 30px;
    

}

.casasBH {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 85px;
    left: 20px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
    
    
}

.casasBH img{
    width: 91px;
    height: 68px;
    display: flex;
    justify-content: center;
    text-align:center
    
}

.cruzeiro {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 85px;
    left: 195px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.cruzeiro img{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    object-fit: contain;


}

.ipanema {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 250px;
    left: 20px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.ipanema img{
    width: 120px;
    height: 30px;
    border: none;
    background: none;
    object-fit: contain;

}

.claro {
    background-color: #EAEAEA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 250px;
    left: 195px;
    width: 131px;
    height: 116px;
    display: flex;
    box-shadow: offset-y;
    border-radius: 25px;
    justify-content: center;
    align-items: center
}

.claro img{
    display: flex;
    width: 83px;
    height: 34px;
    border: none;
    background: none;
    object-fit: contain;

}

/* aqui finaliza o primeiro container
   Iniciando segundo container */

   .container2{
    display: flex;
    max-width: 100%;
    height: 1138;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    

   }


   .container2 h1{
    position: absolute;
    left: 115px;
    z-index: 10;
    color: #00A7EF;
    display: flex; 
    width: 273px;
    height: 43px;
    font-size: 30px;
    

   }

   .fotosobre{
    width: 375px;
    max-height: 100%;
    margin-top: 100px;
    display: flex;

   }

   .paragrafos{
    background-color:#EAEAEA;
    flex-direction: column;
    
   }


   .paragrafo-1{

    text-align: justify;
    font-size: 14px;
    padding: 35px;
    background-color: #EAEAEA;
    
   }

   .imgs-sobre{
    display: flex;
    gap: 20px; 
    height: 100px;
    margin-left: 28px;
    
   }

   
   
   .paragrafo-2{
    
    margin-top: 5px;
    text-align: justify;
    font-size: 14px;
    padding: 35px;
    background-color: #EAEAEA;
   }


   /*CONTAINER2 (SOBRE NÓS, FINALIZA AQUI) */
   /*Iniciando container 3 estatisticas aqui*/

   .container3 {
    max-width: 100%;
    height: 367px;
    background-color: #ffffff;
   
   }

   /*CONTAINER3 FINALIZA AQUI*/
   /*INICIANDO CONTAINER4 (trabalhe conosco*/

   .container4 {


    height: 465px;
    max-width: 100%;
    background-color: #EAEAEA;
    flex-direction: column;
    position: relative;
   }

   .container4 h1{
    font-size: 30px;
    color: #00A7EF;
    padding: 25px;
    display: flex;
    
    
    
   }

   .container4 p{

    font-size: 14px;
    text-align: justify;
    margin-left: 25px;
    color: black;
    font-weight: bold;
   }

   .container4 img{
    display: flex;
    border-radius: 11px;
    width: 190px;
    height: 147px;
    position: absolute;
    right: 30px;
    top: 220px;
    
   }

   .container4 button{
    display: flex;
    position: absolute;
    margin-left: 20px;
    top: 400px;
    background-color: #ffffff;
    border-color: #00A7EF;
    border-radius: 20px;
    color: #00A7EF;
    font-size: 14px;
    width: 153px;
    height: 35px;
    text-align: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
   }

   .container4 button:hover{
    background-color: #00A7EF;
    color: #ffffff;
    border: none;
    
    
   }

/*CONTAINER4 FINALIZA AQUI*/
   /*INICIANDO CONTAINER5 (fale conosco*/

   .container5{
    
    position: relative;
    width: 100%;
    height: 480px;
    background-color: #ffffff;
    align-items: center;
    overflow: hidden;

   }
   

   .container5 h1{
    display: flex;
    font-size: 30px;
    padding: 30px;
    color: #00A7EF;
    margin-left: 75px;
   }

   .container5 img{
    width: 157px;
    height: 162px;
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
   }

   .container5 form{
    position: absolute;
    top: 105px;
    width: 146px;
    background-color: #ffffff;
    margin-left: 200px;
    
   }
   .container5 label{
    font-size: 14px;
    margin-bottom: 8px;
   }

   .container5 input, .container5 textarea{
    width: 150px;
    border: 2px solid #00A7EF;
    margin-bottom: 8px;
    
    
   }

   .container5 button{
    background-color: #00A7EF;
    color: #ffffff;
    border-radius: 14px;
    width: 145px;
    height: 35px;
    border: 2px solid #00A7EF;
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
   }

   .container5 button:hover{
    background-color: #ffffff;
    color: #00A7EF;
    
   }
   .circulo1{
    position: absolute;
    width: 50px;
    height: 46px;
    border-radius: 50%;
    background-color: #00A7EF;
    top: -9px;
    left: 338px;

   }

   .circulo2{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #00A7EF;
    top: 340px;
    left: 50px;

   }

   .circulo3{
    position: absolute;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: #00A7EF;
    top: 377px;
    left: 80px;
    
   }

   /*CONTAINER5 FINALIZA AQUI*/
   /*INICIANDO container rodapé*/
   
   .container6{
    display: flex;
    height: 500px;
    background-color: #DFDFDF;
    

   }

   .imagempe{
    width: 130px;
    height: 60px;
    margin-top: 40px;
   
    margin-left: 120px;
    
    
   }
   .containerlinks{
    display: flex;
    margin-top: 30px;
    margin-left: 80px;
    gap: 5px;
    width: 50px;
    height: 50px;
    }

    .contatos{
        
        display: flex;
        flex-direction: column;
        text-align: justify;
        margin-left: 75px;
       
    }

    .contatos h2{

        font-size: 12px;
        text-align: center;
        margin: 11px;
        font-weight: bold;

        
        
    }

    .contatos p{

        font-size: 13px;
        margin-top: px;
    }

    .navegacao{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 75px;
        list-style-type: none;

    }

    .navegacao h2{
        font-size: 12px;
        text-align: center;
        margin: 11px;
        font-weight: bold;

    }

    .navegacao h3{
        font-size: 13px;
        
    }

    .navegacao p{
        font-size: 13px;
        margin-top: px;

    }
   .termos{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 75px;
        margin-bottom: 20px;

   }

   .termos p{
        font-size: 13px;
        margin-top: px;
        
   }


   









  






