*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 400;
    
    
}

:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #00A7EF;
    --cor-tercearia: #EAEAEA;
    --cor-fundo-paragrafos: #DFDFDF;

}

body{

    
}


.header-mobile {
    display: flex;
    width: 100%;
    top: 0;
    left: 0; 
    align-items: center;
    justify-content: space-between;
    
    background-color: #ffffff;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999; 
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 990;
}

.overlay.show {
    display: block;
}
.header-mobile img {
    display: flex;
    border: none;
    background: none;
    width: 5rem;
    height: auto;
    display: block;
    margin-left: 15px;
    margin-top: 0;
    

}

#inicio{
    display: none;
}
#trabalhe{
    display: none;
}


#botaomenu{
    border: none;
    background: none;
    width: 35px;
    height:  30px;
    color: #00A7EF;
    display: flex;
    margin-right: 5%;

}

.iconify{
    height: 40px;
    width: 64px;
    color: #00A7EF;
    display: flex;
    
    
}





.header-mobile nav{
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 0;
    width: 70%;
    height: 115vh;
    transition: left 0.3s ease;


}

.header-mobile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-mobile ul li {
    text-align: center;
    padding: 15px;
}
.header-mobile ul li a {
    text-decoration: none;
    color: #00A7EF;
    font-size: 18px;
    display: block;
}

.header-mobile ul li a:hover {
    background-color: #575757;
}

nav.show {
    display: block;
}

button.active .iconify {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}



/*Aqui finaliza o Header */




.primeirafoto{

    max-width: 100%;
    height: 511px;
}

.container1{

    height: 500px;
    width: 100%;
    align-items: center;
}


.paragrafos{
    font-size: 14px;
    margin-top: 15%;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.paragrafos p{
    margin-bottom: 20px;
    color: black;
}

.destaque{
    color: rgb(46, 45, 45);
    font-weight: bold;
}

.botaogmail{

    height: 38px;
    width: 182px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    background-color: #00A7EF;
    border: none;
    justify-content: center; 
    margin-left: 25%;
    margin-top: 7%;
    margin-bottom: 10%;

    
}

.botaogmail a{

    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

.segundafoto{


    height: 180px;
    width: 323px;
    margin-left: 7%;
    border-radius: 10px;
}


.valores{

    height: 886px;
    max-width: 100%;
    background-color: #EAEAEA;
   
    

}


.valores h2{

    font-size: 21px;
    text-align: center;
    padding-top: 7vh;
    color: #00A7EF;
    font-weight: bold;
    margin-bottom: 7vh;

}


h1{

    text-align: center;
    font-size: 17px;
    color: #00A7EF;
    font-weight: bold;
    margin-bottom: 2.5vh;

}

.valores p{
    font-size: 14px;
    margin-bottom: 4vh;
    text-align: justify;
    font-weight: bold;
    margin-left: 33%;
    margin-right: 9%;
    
}


.h1A{

    font-size: 21px;
    margin-top: 6vh;
    margin-bottom: 6vh;
}


.areas{

    height: 1300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.areas h2{

    font-size: 19px;
    margin-left: 3vh;
    font-weight: 500;
}

.areas p{
    font-size: 13px;
    color: black;
    margin-left: 3vh;
    text-align:left;
    margin-right: 3vh;
    margin-top: 2vh;
}

.par1{
    display: flex;
    gap: 1px;
    width: 100%;
   

}

.par2{
    display: flex;
    gap: 1px;
    width: 100%;
    padding-right:3vh;
    margin-top: 4vh;

}

.par3{

    display: flex;
    gap: 1px;
    width: 100%;
    padding-right: 3vh;
    margin-top: 4vh;
}


.linha{
    width: 50%;
    margin-left: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 0;
    border-top: 1px solid #00A7EF;
    
}




.areas i{
    position: absolute;
    top: 2vh;
    left: 3vh;
    right: 3vh;
   
    
}



.rh{
    height: 393px;
    width: 154px;
    background-color: #EAEAEA;
    position: relative;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 3vh;

}

.rh h2{

    margin-top: 5vh;
}


.surpevisores{

    height: 393px;
    width: 154px;
    background-color: #EAEAEA;
    position: relative;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 4vh;
    


}

.surpevisores i{

    position: absolute;
    top: 3vh;
    left: 3vh;


}

.surpevisores h2{

    margin-top: 8vh;
}




.control{
    height: 393px;
    width: 154px;
    background-color: #EAEAEA;
    position: relative;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 4vh;
    
}

.control i{
    position: absolute;
    top: 3vh;
    left: 3vh;

}

.control h2{

    margin-top: 6vh;


}


.operadores{

    height: 393px;
    width: 154px;
    background-color: #EAEAEA;
    position: relative;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 4vh;

}

.operadores i{

    position: absolute;
    top: 3vh;
    left: 3vh;

}

.operadores h2{
    margin-top: 6vh;


}


.analista{

    height: 393px;
    width: 154px;
    background-color: #EAEAEA;
    position: relative;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 4vh;


}

.analista i{
    position: absolute;
    top: 3vh;
    left: 3vh;

}

.analista h2{

    margin-top: 6vh;
}

.tecnologia{

    height: 393px;
    width: 154px;
    background-color: #EAEAEA;
    position: relative;
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 4vh;

}

.tecnologia i{
    position: absolute;
    top: 3vh;
    left: 3vh;

}

.tecnologia h2{
    margin-top: 6vh;
}




























/*INICIANDO container rodapé*/
   
.container6{
    display: flex;
    
    max-width: 100%;
    background-color: rgb(69 69 69);
    height: 90vh;
    
    

   }

   .container6 footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    



   }

   .container6 img{
    width: 130px;
    height: 60px;
    margin-top: 10%;
   
    margin-left: 33%;
    
    
   }
   .containerlinks{
    display: flex;
    margin-top: 20%;
    margin-left: 27%;
    
    gap: 5px;
    width: 100%;
    height: 50px;
    }

    

    .contatos{
        align-items: center;
        flex-direction: column;
        text-align: justify;
        display: flex;
    
        
       
    }

    .contatos h2{

        font-size: 12px;
        text-align: center;
        margin: 11px;
        font-weight: bold;
        color: #ffffff;

        
        
    }

    .contatos p{

        font-size: 13px;
        
        margin-top: 3%;
        color: #ffffff;
    }


    .navegacao{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
       
        list-style-type: none;
      

    }

    

    .navegacao h2{
        font-size: 12px;
        text-align: center;
        margin: 11px;
        font-weight: bold;
        
        top: 50%;
        color: #ffffff;

    }

    .navegacao h3{
        font-size: 13px;
        color: #ffffff;
        
    }

    .navegacao p{
        font-size: 13px;
        margin-top: px;
        color: #ffffff;

    }

    .navegacao a{

        text-decoration: none;
        color: #ffffff;
        font-size: 13px;
    }
   .termos{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #ffffff;
    
        

   }

   .termos p{
        font-size: 13px;
        
       
        
   }


   /*Aqui finaliza a versão mobile*/



   

    @media (min-width: 750px) {

        .containerbotao{
            display: flex;
            gap: 10%;
            margin-right: 5%;
        }
        
        #inicio, #trabalhe{
            display: block;
            background-color: #ffffff;
            border-color: #00A7EF;
            border-radius: 15px;
            color: #00A7EF;
            font-size: 13px;
            width: 20vh;
            height: 4vh;
            text-align: center;
            cursor: pointer;
    
        }
    
    
        #inicio a, #trabalhe a{
    
            text-decoration: none;
            color: #575757;
            font-weight: bold;
            display: block;
            
        }
    
        #inicio:hover, #trabalhe:hover{
            background-color: #00A7EF;
            border: none;
            display: block;
        }
    
        #inicio a:hover, #trabalhe a:hover{
            color: #ffffff;
            display: block;
        }
    
       
        #botaomenu{
            display: none;
        }
    
    
        .iconify{
            color: #ffffff;
            width: 85%;
          
        }
    
        .container6{
            all: unset;
            display: flex;
            
    
            max-width: 100%;
            background-color: rgb(69 69 69);
            height: 40vh;
            position: relative;
            
            
        
           }
        
           .container6 footer{
            all: unset;
            display: flex;
            width: 100%;
            height: 20vh;
            gap: 10%;
            margin-top: 3%;
            
        
        
        
           }
    
    
        
           .container6 img{
            all: unset;
            width: 130px;
            height: 60px;
            margin-left: 4%;
            
           
            
            
            
           }
           .containerlinks{
            all: unset;
            display: flex;
            margin-top: 10%;
            margin-left: 4%;
            position: absolute;
            gap: 10px;
    
            
            
            
            }
        
            
        
            .contatos{
                align-items: center;
                flex-direction: column;
                text-align: justify;
                display: flex;
                margin-left: 10%;
            
                
               
            }
    
    
            .contatos h2{
    
                font-size: 1.5vh;
                color: #ffffff;
                
            }
        
            .contatos p{
        
                font-size: 1.2vh;
                color: #ffffff;
                
                margin-top: 3%;
            }
        
            
        
            .navegacao h2{
                font-size: 1.5vh;
                color: #ffffff;
                
        
            }
        
            .navegacao h3{
                font-size: 13px;
                
            }
        
            .navegacao p{
                font-size: 1.2vh;
                color: #ffffff;
                
                margin-top: 3%;
        
            }
    
            .navegacao a{
    
                text-decoration: none;
                color: #ffffff;
                font-size: 1.5vh;
            }
           .termos{
                display: flex;
                flex-direction: column;
                text-align: center;
            
                
        
           }
        
           .termos p{
                font-size: 1.2vh;
                color: #ffffff;
                margin-top: 9%;
                
               
                
           }
        
        
        .header-mobile img{
            margin-left: 80px;
            
            top: 15px;
            
        }
    }